<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/hero') %>
<%- include('partials/features') %>
<%- include('partials/how-it-works') %>
<%- include('partials/pricing') %>
<%- include('partials/faq') %>
<%- include('partials/footer') %>
</body>
</html>
